.line-chart-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

canvas {
  max-width: 100%;
  height: auto !important;
}